@import url("https://fonts.googleapis.com/css2?family=fugaz+one&family=Nunito&display=swap");

/* /begin reset */








/* end reset */


/* utility classes */
.nowrap{
  white-space: nowrap;
}

.offscreen{
  position: absolute;
  left: -10000px;
}

/* end utility classes */

body{
  font-family: "Nunito", sans-serif;
  min-width: 100vh;
}

.container{
  background-color: rgb(251, 210, 156);
  background-image: url(gat.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.hero{
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;

  background-color: hsla(0, 0%, 0%, 0.178);
}

.container h1{
   font-size: 500%; 
   color: aliceblue;
   text-shadow: 2px 2px black;
   background-color: hsla(0, 0%, 0%, 0.178);
   padding: 0.25rem;
   border-radius:  10px;
}

.figure{
  width: 35%;
}

.figure img{
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double grey;
  border-radius: 50%;
}

div{
  margin: 30px;
}

.div h1{
  font-family: "Press Start 2P", "consolas",  sans-serif;
  background-color: aliceblue;
  font-weight: bold;
  font-size: 60px;
}

.p{

  color: purple;
  font-family: "consolas",sans-serif;
  margin-right: 30%;
}
 
.div img{
  float: right;
  width: 400px;
  height: 600px;
}

.thank{
  font-weight: bold;
  font-size: 50px;
}

